<div *ngIf="pessoa">
  <div><label>Nome: </label> {{ pessoa.nome }}</div>
  <div><label>Email: </label> {{ pessoa.email }}</div>
  <div><label>Ativo: </label> {{ pessoa.active }}</div>

  <span
    class="button is-small btn-primary"
    *ngIf="pessoa.active"
    (click)="updateActive(false)"
    >Inactive</span
  >

  <span
    class="button is-small btn-primary"
    *ngIf="!pessoa.active"
    (click)="updateActive(true)"
    >Active</span
  >

  <span class="button is-small btn-danger" (click)="deletePessoa()"
    >Delete</span
  >

  <hr />
</div>
