<h3>Procura pelo email</h3>
<div style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="lastname">Data</label>
      <input
        type="text"
        class="form-control"
        id="data"
        required
        [(ngModel)]="data"
        name="data"
      />
    </div>
    <div class="btn-group">
      <button type="submit" class="btn btn-success">Confirmar</button>
    </div>
  </form>
</div>
<ul>
  <li *ngFor="let logPrevent of logPrevent">
    <h4>Data: {{ logPrevent.data }}</h4>
  </li>
</ul>
