<h3>Pesquisa</h3>
<div style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="lastname">IP</label>
      <input
        type="text"
        class="form-control"
        id="ip"
        required
        [(ngModel)]="ip"
        name="ip"
      />
    </div>
    <div class="form-group">
      <label for="lastname">User Agent</label>
      <input
        type="text"
        class="form-control"
        id="ip"
        required
        [(ngModel)]="user_agent"
        name="ip"
      />
    </div>
    <div class="btn-group">
      <button type="submit" class="btn btn-success">Confirmar</button>
    </div>
  </form>
</div>
<ul>
  <li *ngFor="let logPrevent of logPrevent">
    <h4>Data: {{ logPrevent.data }}</h4>
  </li>
</ul>
