<h3>Cadastro de Logs</h3>
<table>
  <div [hidden]="submitted" style="width: 300px;">
    <form>
      <div class="form-group">
        <label for="Data">Data</label>
        <input
          type="text"
          class="form-control"
          id="data"
          required
          [(ngModel)]="logPrevent.data"
          name="data"
        />
      </div>
      <div class="form-group">
        <label for="IP">IP</label>
        <input
          type="text"
          class="form-control"
          id="ip"
          required
          [(ngModel)]="logPrevent.ip"
          name="ip"
        />
      </div>
      <div class="form-group">
        <label for="Request">Requisição</label>
        <input
          type="text"
          class="form-control"
          id="Request"
          required
          [(ngModel)]="logPrevent.request"
          name="Request"
        />
      </div>
      <div class="form-group">
        <label for="Status">Status</label>
        <input
          type="text"
          class="form-control"
          id="Status"
          required
          [(ngModel)]="logPrevent.status"
          name="Status"
        />
      </div>
      <div class="form-group">
        <label for="Descricao">Descrição</label>
        <input
          type="text"
          class="form-control"
          id="Descricao"
          required
          [(ngModel)]="logPrevent.user_agent"
          name="Descricao"
        />
      </div>
    </form>
  </div>
</table>
<button type="submit" class="btn btn-success" (click)="adicionar()">
  Cadastrar
</button>
